# Prerequisites
*.d
/cw
/PulsarPackCreator/Executable/output
/PulsarPackCreator/Executable/input
/testing
/resources
/releases
/.vscode
*/.vscode
/.vs
/PulsarPackCreator/bin
/PulsarPackCreator/obj
/PulsarPackCreator/.vs
/KamekLinker/bin
/KamekLinker/obj
/KamekLinker/.vs

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch
*.editorconfig
BuildTesting.bat

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out
*.app
*.vsidx
PulsarPackCreator/Executable/Pulsar Pack Creator.dll.config
*.v2
